http://0.0.0.0, https://0.0.0.0 {

  tls /etc/caddy/cert.pem /etc/caddy/key.pem

  gzip
  log /var/log/access.log {
    rotate {
      size 100 # Rotate after 100 MB
      keep 50  # Keep at most 10 log files
    }
  }

  proxy  /render 127.0.0.1:8001 {
    transparent
    without /render
    fail_timeout 120s
  }
  header /render Access-Control-Allow-Origin *

  proxy  /tiles 127.0.0.1:8080 {
    transparent
    without /tiles
    fail_timeout 120s
  }
  header /tiles Access-Control-Allow-Origin *
}
