http://0.0.0.0, https://0.0.0.0 {

  tls /etc/caddy/cert.pem /etc/caddy/key.pem

  gzip
  log /var/log/access.log {
    rotate_size 100 # Rotate after 100 MB
    rotate_keep 50  # Keep at most 50 log files
  }

  proxy  /render 127.0.0.1:8001 {
    transparent
    without /render
  }
  header /render Access-Control-Allow-Origin *

  proxy  /tiles 127.0.0.1:8002 {
    transparent
    without /tiles
  }
  header /tiles Access-Control-Allow-Origin *
}
