http:// {
  encode gzip
  log {
    output file /var/log/caddy/access.log
  }
  header -Server

  route /render/* {
    uri strip_prefix /render
    reverse_proxy http://localhost:8001
  }
  route /tiles/* {
    uri strip_prefix /tiles
    reverse_proxy http://localhost:8002
  }
  route /placement/* {
    uri strip_prefix /placement
    reverse_proxy http://localhost:8003
  }
  route /cached/* {
    uri strip_prefix /cached
    reverse_proxy http://localhost:8004
  }

  respond * 404
}

https:// {
  tls /etc/caddy/cert.pem /etc/caddy/key.pem

  encode gzip
  log {
    output file /var/log/caddy/access.log
  }
  header -Server

  route /render/* {
    uri strip_prefix /render
    reverse_proxy http://localhost:8001
  }
  route /tiles/* {
    uri strip_prefix /tiles
    reverse_proxy http://localhost:8002
  }
  route /placement/* {
    uri strip_prefix /placement
    reverse_proxy http://localhost:8003
  }
  route /cached/* {
    uri strip_prefix /cached
    reverse_proxy http://localhost:8004
  }

  respond * 404
}
